body {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-size: 21px;
}


.article {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}


.section {
	font-family: ariel, sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
}

h1 {
	margin-top: 8px;
	margin-bottom: 0px;
}


.deck {
	margin-top: 5px;
	font-family: ariel, sans-serif;
	font-size: 16px;
}


.byline {
	margin-bottom: 0px;
	font-size: 16px;

}

.publish-date {
	margin-top: 2px;
	font-size: 14px;
	color: darkgrey;
}


.photo {
	width: 100%;
}

.photo-caption {
	color: grey;
	margin-top: 0px;
	font-size: 15px;
}


.story-footer h2 {
	border-top: solid 4px black;
	font-size: 22px;
	margin-bottom: 10px;
	padding-top: 3px;
}


.story-footer h3 {
	margin-top: 0px;
	font-size: 19;
	margin-bottom: 2px;
	text-decoration: underline;
}


.foot-story p {
	margin-top: 0px;
}



.more-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


@media (max-width: 906px) {
	.article {
		margin-left: 6px;
		margin-right: 6px;
	}
}

@media (max-width: 700px) {
	.more-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
	}

}